<div class="container">
    <h1 *ngIf="entitie.id == null">Crear item a {{data.kanba.title}} </h1>
    <h1 *ngIf="entitie.id != null">Modificar item {{data.kanba.title}}</h1>

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="number" matInput placeholder="Identificador" [(ngModel)]="entitie.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Titulo</mat-label>
            <input type="text" matInput placeholder="Titulo del item" [(ngModel)]="entitie.title" name="title" required>
            <mat-error>El titulo no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Descripción</mat-label>
            <input type="text" matInput placeholder="Descripción de el item" [(ngModel)]="entitie.description" name="description" required>
            <mat-error>La nacionalidad no puede estar vacía</mat-error>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary"  (click)="onSave()">Guardar</button>
    </div>
</div>
