


<div class="flex mt" >
    <div>
        <button mat-fab color="dark" (click)="add()" aria-label="Example icon button with a delete icon">
          <mat-icon>add</mat-icon>
        </button>
    </div>
    <div  *ngFor="let item of kanbas;let i=index;">
        <!-- <div
                     cdkDropList
                    id="xlist{{i}}" [cdkDropListConnectedTo]="['xlist1','xlist0']"     
                    [cdkDropListData]="kanbas"
                    (cdkDropListDropped)="drop($event)"> -->
            
            
            <app-lane   [kanba]="item" [index]="i" [listId]="kanbasListId"></app-lane>
        <!-- </div> -->
        
    </div>
    
</div>



  
  